div.message_wrapper{
    padding: 10px 0px;
}

div.gs_success, div.gs_fail, div.gs_warn{
	border: solid 1px #CCCCCC;
	padding: 10px;
	margin: 0 auto;
	border: 1px solid #000000;
	color: #fff;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  -o-border-radius: 5px; 
  border-radius: 5px; 
  -webkit-box-shadow: 0px 1px 0px #ffffff; 
  -moz-box-shadow: 0px 1px 0px #ffffff; 
  -o-box-shadow: 0px 1px 0px #ffffff; 
  box-shadow: 0px 1px 0px #ffffff;
}

div.gs_success{
	background-color: #78ff4b;
	border: 1px solid #337711;
	color: #000;
}

div.gs_fail{
	background-color: #ff3c42;
	border: 1px solid #771122;
	color: #fff;
}

div.gs_warn{
    background-color:#fedb7b;
    border: 1px solid;
    border-color:#ff5900;
    color: #000;
}

div.center{
	text-align:center;
}

#gs-admin-settings-page{
    width: 800px;
    font: 13px/24px 'Helvetica neue', Helvetica, Arial, Verdana, sans-serif;
    color: #555;
}

#gs-admin-settings-page div#gosquaredlogo{
	width: 100%;
	height: 50px;
	background: #1E1E1E url('head_01_300x50.png') no-repeat;
	background-position: left top;
	border: 1px solid #000000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 0px #ffffff;
	-moz-box-shadow: 0px 1px 0px #ffffff;
	-o-box-shadow: 0px 1px 0px #ffffff;
	box-shadow: 0px 1px 0px #ffffff;
}

#gs-admin-settings-page h2{
    margin-top: 24px;
    margin-bottom: 15px;
    font-weight: bold;
}

#gs-admin-settings-page p{
    margin: 0;
    line-height: 24px;
    font-size: 13px;
}

#gs-admin-settings-page .input-field{
    margin-top: 24px;
    margin-bottom: 48px;
}

#gs-admin-settings-page .input-field .input-label{
    display: inline-block;
    width: 180px;
}

#gs-admin-settings-page .input-field .gs-text-input{
    width: 160px;
    height: 30px;
}

#gs-admin-settings-page table{
    margin-top: 12px;
    margin-bottom: 36px;
}

#gs-admin-settings-page td{
    width: 86px;
    height: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#gs-admin-settings-page td.wide{
    width: 100px;
}

#gs-admin-settings-page td.label{
    width: 168px;
}

#gs-admin-settings-page .gs-button{
    width: 120px;
    height: 36px;
    border: 1px solid #aaa;
    border-radius: 6px 6px 6px 6px;
    background-color: #e0e0e0;
    box-shadow: inset 0px 0px 10px #aaa;
    -webkit-box-shadow: inset 0px 0px 10px #aaa; 
    -moz-box-shadow: inset 0px 0px 10px #aaa;
    text-align: center;
    cursor: pointer;
}

#gs-admin-settings-page img.hero_preview{
	padding-left: 20px;
	padding-top: 20px;
}