div#icon-gs{
	background: url('http://www.gosquared.com/images/G.png') no-repeat;
	width: 80px;
	height:61px;
}

div.gs_success, div.gs_fail{
	width: 500px;
	border: solid 1px #CCCCCC;
	padding: 1px;
	margin: 0 auto;
}
div.gs_success{
	background-color: #66FF99;
}

div.gs_fail{
	background-color: #FFBFBF;
}

div.center{
	text-align:center;
}